
<div id = "question">
  <label for="question">Ask your coach anything :</label>
  <form action="/answer" method="get" class = "form-inline">
    <input type="text" name = "question" class = "form-control">
    <input type="submit" class = "form-control btn btn-primary">
  </form>
</div>
